.calendar-form
  width: 390px
  padding: 0 27px
  margin: 0 auto
  color: $COLOR_BLACK
  >.calenderheadergroup
    >.calendarheader
      width: 100%
      text-align: center
      font-size: 16px
      >.movemonthbtns
        position: relative
        >button.movemonthbtn
          cursor: pointer
          background: #B78D4A
          color: #fff
          border: 1px solid #B78D4A
          border-radius: 4px
          font-size: 1rem
          padding: 0.5rem 2rem
          margin: 1rem 0
          &:hover
            background-color: #D4BB92
            border-color: #D4BB92
  >.calendar
    width: 100%
    text-align: center
    >table
      width: 100%
      >tbody
        >tr
          >td
            width: 47px
            height: 47px
            align-items: center
            line-height: 47px
            // display: flex
            // justify-content: center
            // align-items: center
            &.-disabled
              visibility: hidden
            &.-previous
              color: green
