.search-form
  width: auto
  margin-top: 30px
  display: flex
  justify-content: center
  &.-shrinked
    transform: translateY(-75px)
  > .formlists
    position: relative
    width: auto
    height: auto
    padding: 0px
    display: flex
    justify-content: space-around
    align-items: center
    background-color: $COLOR_WHITE
    border-radius: 80px
    border: 1px solid $COLOR_GREY
    box-shadow: $SHADOW_NORMAL
    &.-focused
      background-color: $COLOR_LIGHTGREY
    > .line
      position: relative
      z-index: 10
      content: ""
      width: 1px
      height: 60%
      background-color: $COLOR_GREY
      &.-hide
        display: none
    &[data-selected='true']
      display: flex
    &[data-selected='false']
      display: none
    > .formlist
      width: 100%
      padding: 0
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      background-color: $COLOR_WHITE
      background-color: transparent
      border-radius: 80px
      &:hover
        background-color: $COLOR_GREY
      &.-last
        display: flex
      &.-hide
        display: none
        transition-duration: 2s
      &.-focused
        background-color: $COLOR_WHITE
        box-shadow: $SHADOW_NORMAL
      &.shrinkedformlist
        width: 300px
        padding: 0 10px
        justify-content: space-between
        box-shadow: none!important
        > p
          padding-right: 10px
          font-size: 14px
          font-weight: 400
        >.shrinkedsubmitbtn
          width: 32px
          height: 32px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 100px
          border: 0px
          background-color: rgb(255, 56, 92)
          color: $COLOR_WHITE
      >.form
        padding-right: 0px
        display: flex
        justify-content: center
        flex-direction: column
        padding: 16px 20px
        &.peopleform
          padding-right: 0
          >.label
            max-width: calc(100%-60px)
          >.input
            max-width: calc(100%-60px)
        &:hover
          cursor: pointer
        > .label
          display: inline
          font-size: 12px
        > .input
          padding-top: 4px
          background-color: transparent
          border: 0
          color: $COLOR_BLACK
      &:nth-of-type(4)
        >.label
          width: 80%
        >.input
          width: 80%
      >.submitbtn
        height: 40px
        width: 40px
        margin-right: 10px
        border-radius: 100px
        border: 0px
        background-color: rgb(255, 56, 92)
        color: $COLOR_WHITE

@media (max-width: 1120px)
  .search-form
    width: 100%
    &.-shrinked
      transform: translateY(-130px)
    >.formlists
      &.shrinked
        width: 300px
      >.formlist
        width: 90%
        >.form
          padding: 16px 14px

@media (max-width: 750px)
  .search-form
    &.-shrinked
      transform: translateY(0px)

@media (min-width: 751px)
  .search-form
    &.-shrinked
      transition-duration: .4s
      padding: 0px
    > .formlists
      &.-shrinked
        width: 300px
        padding: 0px
        height: 48px
        transition-duration: .4s
      > .line
        &.-hide
          display: none
      > .formlist
        &.-last
          display: flex
        &.-hide
          display: none
          transition-duration: 2s
        &.shrinkedformlist
          width: 300px
          padding: 0 12px
          justify-content: space-between
          > p
            padding-right: 10px
            font-size: 14px
            font-weight: 400
          >.shrinkedsubmitbtn
            width: 32px
            height: 32px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100px
            border: 0px
            background-color: rgb(255, 56, 92)
            color: $COLOR_WHITE
