#CheckinWindow
  width: 100%
  // height: 480px
  position: absolute
  top: 80px
  left: 0px
  right: 0px
  &[data-open='true']
    display: block
  &[data-open='false']
    display: none
#CheckinWindow
  >.calendararea
    display: flex
  >.togglebtnarea
    display: flex
    justify-content: center
    padding: 0 0 32px 0
    >.togglebtn
      background-color: $COLOR_GREY
      border-radius: 100px
      >.toggle
        margin: 4px 6px 4px
        padding: 5px 14px
        font-weight: 600
        border-radius: 100px
        cursor: pointer
        &.-selected
          background-color: $COLOR_WHITE

@media (max-width: 1120px)
  #CheckinWindow
    >.calendararea
      >.calendar-form
        &.-nextmonth
          display: none
        >.calenderheadergroup
          >.currentmonthnextbtn
            display: block



@media (max-width: 751px)
  #CheckinWindow
    display: none
